{% extends "layout.html" %} 

{% block content %}
<div class="row">
  <!-- class for form below-->
  <!-- class="border border-2 p-3 m-3 rounded-3" -->
  <div class="card p-3 col-2" style="min-height: 80dvh">
    <form
      id="form"
      hx-post="/record"
      hx-target="#heartbeats"
      hx-encoding="multipart/form-data"
    >
      <!-- usia -->
      <!-- <label for="usia" class="">Usia: </label> -->
      <!-- <input -->
      <!--   class="mb-2" -->
      <!--   type="number" -->
      <!--   name="usia" -->
      <!--   id="usia" -->
      <!--   placeholder="Usia" -->
      <!--   required -->
      <!-- /> -->
      <label for="file" class="">Upload ECG file:</label>
      <input class="w-100" type="file" name="file" id="file" required />
      <br />
      <label for="nama" class="">Rename (optional):</label>
      <input
        class="mb-2 w-100"
        type="text"
        name="record_name"
        id="record_name"
        placeholder="(optional)"
      />
      <!-- <label for="sample_rate" class="">Sample rate:</label> -->
      <!-- <select class="" name="sample_rate" id="sample_rate"> -->
      <!--   <option value="130">130 Hz (Polar H10)</option> -->
      <!--   <option value="360">360 Hz (MIT-BIH)</option> -->
      <!-- </select> -->
      <!-- <br /> -->
      <button class="btn btn-primary text-center w-100" type="submit">
        Upload
        <div class="d-inline htmx-indicator">
          <div class="spinner-grow spinner-grow-sm" role="status"></div>
        </div>
      </button>
      <!-- <div id="inferenceTime"> -->
      <!-- </div> -->
    </form>
    <!-- recordname list -->
    <div class="mt-3">
      <div class="fw-bold">Record List</div>
      <!-- htmx send get request to /recordlist when page load -->
      <!-- and update the content of this div innerHTML with the response -->
      <div
        id="recordlist"
        hx-get="/recordlist"
        hx-trigger="load, refreshRecordList from:body"
        hx-swap="innerHTML"
        class="border border-2 py-3 mt-2 rounded-3 overflow-auto"
        style="max-height: 50dvh"
      ></div>
    </div>
  </div>
  <!-- </div> -->
  <!-- <div class="row mt-3"> -->
  <div
    class="col mx-3 border border-2 p-3 pt-2 rounded-3 overflow-auto"
    style="max-height: 80dvh"
  >
    <div class="">Heart Beats</div>
    <!--horizontal line-->
    <hr class="my-2" />
    <div class="p-3">
      <div id="heartbeats"></div>
    </div>
  </div>
</div>
<!-- <script> -->
<!--   document.body.addEventListener("refreshRecordList", function (event) { -->
<!--     alert("refreshRecordList event triggered"); -->
<!-- }) -->
</script>
{% endblock %}
