<div class="p-1 button-group d-flex gap-1">
  {% set labels = ['N', 'S', 'V', 'F', 'Q', 'Clear'] %}
  {% for label in labels %}
  {% if label == 'Clear' %}
      <div class="ms-auto">
  {% endif %}
  <form
    hx-post="/annotate/{{ record_name }}"
    hx-encoding="multipart/form-data"
    hx-swap="outerHTML"
    hx-target="closest .button-group"
    hx-trigger="click"
  >
    <input type="hidden" name="index" value="{{ index }}" />
    <button
        class="btn btn-primary 
        {% if annotation != 'Clear' and annotation == label %}disabled btn-success{% endif %}"
      name="label"
      value="{{ label }}"
      type="submit"
    >
      {{ label }}
    </button>
  </form>
    {% if label == 'Clear' %}
      </div>
    {% endif %}
  {% endfor %}
</div>
